@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center">
    <div style="
        margin-top: 228px;
        width: 47%;
        background: rgba(0, 0, 0, 0.96);
        padding: 20px;">
        <h1 class="display-4 text-white" style="font-size: 100px; font-weight: 400;">Welcome on</h1>
        <div class="inlineFlex">
            <h1 class="display-4 text-white" style="font-size: 100px; font-weight: 500;">Uber</h1><h1 class="display-4" style="font-size: 100px; font-weight: 500; color: orange;">Scan</h1>
        </div>
    </div>
</div>
<style>
    body {
        background-image: url("https://cdn.discordapp.com/attachments/728218856962654288/817469570095906816/605700.png");
        /*background-image: url("documents/images/background.jpg");*/
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>