@model UberScan.Models.MangaViewModel
@{
    ViewData["Title"] = "Manga List";
    ViewData["KeyFilter"] = "nom";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Manga available</h1>
</div>

<div class="col-md-12">

    <div class="col-md-4 offset-md-8">
        <div class="row col-md-12 form-check" style="display:inline-flex;">
            <div class="form-check" style="margin-left:1em;" asp-for="keyFilter">
                <input class="form-check-input" type="radio" name="RadioNom" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Nom
                </label>
            </div>
            <div class="form-check" style="margin-left:1em;">
                <input class="form-check-input" type="radio" name="RadioAuteur" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Auteur
                </label>
            </div>
            <div class="form-check" style="margin-left:1em;">
                <input class="form-check-input" type="radio" name="RadioGenre" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    Genre
                </label>
            </div>
        </div>
        <div class="row col-md-12">
            <form class="form-inline my-2 my-lg-0" href="/Home/Manga" method="GET">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="col-md-12 mb-5 mt-5 gridCardManga">
        @foreach (UberScan.Shared.Manga manga in @Model.Mangas)
        {
            <a class="mangaLink" href="/Home/Manga/@manga.MangaID">
                <div style="flex: 0 0 25%; max-width: 100%;">
                    <div class="card border-dark mb-3 content-image-cover" style="max-width: 100%;">
                        <div class="card-header">
                            <h5 class="text-center card-title">@manga.MangaNameLat</h5>
                        </div>
                        <div class="card-body text-dark effect-color">
                            <img class="mangaImage" src="~/documents/scans/@manga.LinkImageManga" alt="@manga.MangaNameLat">
                                <p class="synopsis">@manga.MangaSynopsis</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>

</div>


<script>
    function setFilterRouteParameter()
    {
        var value = document.getElementById("addActivityPrice").attr('href')  + '/'  ;
        console.log(value);
        /*
        var newHref = $("#addActivityPrice").attr('href') + '/' + g_id ;     
        $("#addActivityPrice").attr("href", newhref); */
    }
</script>

