@model UberScan.Models.MangaViewModel
@{
    ViewData["Title"] = "Manga List";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Manga available</h1>
</div>
<div class="mb-5 mt-5 gridCardManga">
    @foreach (UberScan.Shared.Manga manga in @Model.Mangas)
    {
        <a class="mangaLink" href="/Home/Manga/@manga.MangaID">
            <div style="flex: 0 0 25%; max-width: 100%;">
                <div class="card border-dark mb-3 content-image-cover" style="max-width: 100%;">
                    <div class="card-header">
                        <h5 class="text-center card-title">@manga.MangaNameLat</h5>
                    </div>
                    <div class="card-body text-dark effect-color">
                        <img class="mangaImage" src="~/documents/scans/@manga.LinkImageManga" alt="@manga.MangaNameLat">
                            <p class="synopsis">@manga.MangaSynopsis</p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>