@model UberScan.Models.ScanViewModel
@{
    ViewData["Title"] = $"Volume {@Model.Volume.VolumeNum}";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Volume @Model.Volume.VolumeNum - @Model.MangaVolume.MangaNameLat</h1>
</div>
<div>
    coucou
</div>