<div class="w-full bg-gray-200 h-96 mt-32 rounded">
    <div class="py-6 px-4">
        <div id="messagesList" class="even:bg-gray-200 space-y-4"></div>
    </div>
</div>
<div class="mt-6">
    <div class="flex flex-grow-1 justify-between">
        <input class="w-4/5 px-4 py-2 border border-yellow-500 rounded" type="text" id="messageInput" />
        <div class="w-1/5 pl-4">
            <input class="bg-yellow-500 px-4 py-2 rounded text-center w-full" type="button" id="sendButton" value="Envoyer">
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
