<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UberScan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="1115" height="345" viewBox="0 0 1115 345">
                        <g id="Groupe_1" data-name="Groupe 1" transform="translate(-364 -285)">
                            <g id="uber-eats-seeklogo.com" transform="translate(305.81 320.75)">
                            <path id="Tracé_1" data-name="Tracé 1" d="M562.929,127.512c-16.253,0-27.782,12.717-27.782,32.239v71.609H510.336V105.316H534.85v15.391a33.249,33.249,0,0,1,29.535-16.283H573.3v23.087Zm-69.737,40.826c0-37.587-26.742-65.7-62.933-65.7a64.864,64.864,0,0,0-64.418,65.7c0,37.557,28.97,65.963,66.766,65.963a65.874,65.874,0,0,0,54.375-26.92l-18.006-13.193a43.916,43.916,0,0,1-36.369,18.333,42.252,42.252,0,0,1-41.6-36.072H493.251ZM391.543,156.779c4.427-19.224,19.789-32.239,38.419-32.239s33.962,13.014,38.122,32.239ZM287.249,102.642a62.754,62.754,0,0,0-44.57,18.63V58.25H217.869V231.359h24.513V215.374A63.735,63.735,0,0,0,287.309,234.3a65.837,65.837,0,1,0,0-131.674Zm-1.783,109.493a18,18,0,1,0,0-.119ZM126.5,210.946c23.949,0,42.549-18.363,42.549-45.877V58.25h25.7V231.359h-25.4V214.987a63.111,63.111,0,0,1-45.788,19.224c-36.934,0-65.369-26.92-65.369-67.746V58.25H84.367V165.218c0,27.663,17.828,45.729,42.133,45.729Z" transform="translate(0 0)" fill="#262626"/>
                            </g>
                            <text id="Scan" transform="translate(923 285)" fill="#ff8000" font-size="283" font-family="Calibri"><tspan x="0" y="269">Scan</tspan></text>
                        </g>
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - UberScan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
