<div>
    <form method="post">
        <input class="border border-black" type="text" name="firstName">
        <input class="border border-black" type="text" name="lastName">
        <input class="border border-black" type="date" name="birthdate">
        <input class="border border-black" type="text" name="nationality">
        <input class="border border-black" type="text" name="description">
        <input type="submit">
    </form>
</div>
