/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  /*text-align: center;*/
  word-break: break-all;
  width: 15%;
}

/* Provide sufficient contrast against white background */
a {
  color: #FF8000;
}

.btn-primary {
  color: #fff;
  background-color: #FF8000;
  border-color: #FF8000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #FF8000;
  border-color: #FF8000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.gridCardManga {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 7rem;
}

.gridCardVolume {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

.logo {
  width: 75%;
  height: auto;
}

.mangaLink {
  text-decoration: none !important;
}

.card-title {
  margin-bottom: 0;
  font-size: 26px;
}

.card-body {
  padding: 0;
}

.effect-color {
  background: black;
}

.mangaImage {
  width: 100%;
  height: auto;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.effect-color:hover img{
  opacity: .2;
}

.synopsis {
  top: 20%;
  position: absolute;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  display: none;
}

.effect-color:hover p{
  display: block;
}

.content-image-cover {
  border-radius: 0px;
}

.inlineFlex {
  display: inline-flex;
}

@media (max-width: 575.98px) {
  .logo {
    width: 140%;
    height: auto;
  }

  .gridCardManga {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 7rem;
    }
}